{% extends "__layout.twig" %}

{% block content %}

<div class="row d-flex">
    {% for object in flower_objects %}
    <div class=" col mb-4 d-flex align-items-stretch">
        <div class=" border p-2 d-flex flex-column justify-content-between position-relative">
            <div class="position-absolute" style="right: 0px; top: 0px">
                <form action="/flower-object/{{ object.id }}/delete" method="POST">
                    {# <input type="hidden" name="id" value="{{ object.id }}"> #}
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
            </div>
            <div class="img-thumbnail mb-2" style="width: 100%; height: 200px; overflow:hidden">
                <img src="{{object.image}}" style="width: 100%; height: 100%; object-fit:cover;" alt="">
            </div>
            <div class="d-flex flex-column">
                <a class="btn btn-primary mb-1" href="/flower-object/{{object.id}}">{{object.title}}</a>
                <div class="d-flex justify-content-center">
                    <a class="me-3" href="/flower-object/{{object.id}}/image">Картинка</a>
                    <a href="/flower-object/{{object.id}}/info">Описание</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}